
<div class="container">
    <div class="row ">
        <div class="col-md-10 col-md-offset-1">
          
 <a href="http://localhost/angularwork/sofine/backend/public/upload/uploads/{{response.ufile}}"><img src="http://localhost/angularwork/sofine/backend/public/upload/uploads/{{response.file}}" class="img-fluid rounded-circle" id="mk"></a>
  
            <form #signupForm=ngForm (ngSubmit)="onSubmit()">
                <label>Update profile</label><br>
                <input type="file" name="file"  (change)="uploadFile($event)">
               
              <div class="md-form mb-5">
                <input type="text" id="email" name="name" class="form-control" placeholder="" [(ngModel)]="response.name"  value="{{response.name}}" >
              
              </div>

              <!--address-->
              <div class="md-form mb-5">
                <input type="text" id="address" name="email" class="form-control" placeholder="" [(ngModel)]="response.email"  value="{{response.email}}" >
              
              </div>
                <div class="md-form mb-5">
                <input type="text" id="email" name="phone" class="form-control" placeholder="" [(ngModel)]="response.phone"  value="{{response.phone}}" >
                
              </div>

              <!--address-->
              <div class="md-form mb-5">
                <input type="text" id="address" name="role" class="form-control" placeholder="" [(ngModel)]="response.role"  value="{{response.role}}" >
                
              </div>

            
                <input type="submit" class="pull-right btn btn-sm btn-primary" value="Update">
            </form>
   
        </div>
    </div>
</div>

             

