<div class="accordion" id="accordionExample">
  <div class='card'>
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Cart
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
          <span>C</span>art
        </h3>
        <button class="btn btn-link collapsed float-right  btn-success btn-success" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Proceed to checkout
          </button>
        <!-- //tittle heading -->
        <div class="checkout-right">
          <!-- <h4 class="mb-sm-4 mb-3">Your shopping cart contains:
            <span>3 Products</span>
          </h4> -->
          <div class="table-responsive">
            <table class="timetable_sub">
              <thead>
                <tr>
                  <th>SL No.</th>
                  <th>Product</th>
                  <th>Quality</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Total</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr class="rem1" *ngFor="let prod of productAddedToCart;let q=index">
                  <td class="invert">{{nums}}</td>
                  <td class="invert-image">
                    <!-- <a href="single.html"> -->
                      <img src="http://localhost/angularwork/seller_sofine/backend/public/upload/uploads/{{prod.productfile}}" alt=" " class="img-responsive">
                    <!-- </a> -->
                  </td>
                  <td class="invert">
                    <div class="form-inline">
                      <button type="button" (click)="onAddQuantity(prod)" class="btn btn-success">+</button>
                        <input type="text" [ngModel]="prod.Quantity" (ngModelChange)="prod.Quantity=$event" class="form-control">
                        <button type="button" (click)="onRemoveQuantity(prod)" class="btn btn-danger">-</button>
                    </div>   
                  </td>
                  <td class="invert">{{prod.product_name}}</td>
                  <td class="invert">#{{prod.price}}</td>
                  <td class="invert">{{prod.price*prod.Quantity}}</td>
                  <td class="invert">
                    <div class="rem">
                        <!-- (click)="onRemoveOne(prod)" -->
                      <button type="button" (click)="remove(prod.id)"  class="close1"> </button>
                    </div>
                  </td>
                </tr>
                
                <tr class="rem3">
                  <td class="invert"></td>
                  <td class="invert-image">
                    
                  </td>
                  <td></td>
                  <td class="invert">
                      <h5>Subtotal:</h5>
                    </td>
                    <td class="invert">{{allTotal}}</td>
                    
                  <!-- <td  class="btn btn-success text-white invert" style="border-radius: 30px;color: white"> <a class="text-white" routerLink="/checkout" >Proceed to checkout</a></td> -->
                  <td class="invert"> </td>
                  <td class="invert"> </td>
                </tr>
                <tr class="rem3">
                  <td class="invert"></td>
                  <td class="invert-image">
                    
                  </td>
                  <td class="invert">
                    <h5></h5>
                  </td>
                  <td class="invert"></td>
                  <td></td>
                  <td></td>
                  <td class="btn btn-primary invert" style="border-radius: 30px"><a class="text-white" routerLink="/">Continue Shopping</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- first end -->
    <div class='card'>
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Checkout
          </button>
        </h5>
      </div>
 

  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
    <div class="card-body">
      <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>C</span>heckout
      </h3>
      <div class="alert alert-success" [hidden]="!message">
        {{message}}
      </div>
      <main class="mt-5 pt-4">
          <div class="container-fliud wow fadeIn">
      
            <!-- Heading -->
            <!-- <h2 class="my-5 h2 text-center">Checkout form</h2> -->
      
            <!--Grid row-->
            <div class="row">
      
              <!--Grid column-->
              <div class="col-md-8 mb-4">
      
                <!--Card-->
                <div class="card">
      
                  <!--Card content-->
                  <div class="card-body">
      
                    <!--Grid row-->
                    <div class="row">
      
                      <!--Grid column-->
                      <div class="col-md-6 mb-2">
      
                        <!--firstName-->
                        <div class="md-form ">
                          <input type="text" id="firstName" class="form-control" value="{{response.name}}" disabled>
                          <!-- <label for="firstName" class="">First name</label> -->
                        </div>
      
                      </div>
                      <!--Grid column-->
      
                      <!--Grid column-->
                      <div class="col-md-6 mb-2">
      
                        <!--lastName-->
                        <div class="md-form">
                          <input type="text" id="lastName" class="form-control"  value="{{response.phone}}" disabled>
                          <!-- <label for="lastName" class="">Last name</label> -->
                        </div>
      
                      </div>
                      <!--Grid column-->
      
                    </div>
                    <!--Grid row-->
      
                    <!--Username-->
                    <!-- <div class="md-form input-group pl-0 mb-5">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                      </div>
                      <input type="text"  class="form-control py-0" placeholder="Username" aria-describedby="basic-addon1">
                    </div> -->
      
                    <!--email-->
                    <div class="md-form mb-5">
                      <input type="text"  id="email" class="form-control"  value="{{response.email}}" disabled>
                      <!-- <label for="email" class="">Email (optional)</label> -->
                    </div>
      
                    <!--address-->
                    <form #signupForm=ngForm (ngSubmit)="onSubmit()">
                    <div class="md-form mb-5">
                      <input type="text" id="address" class="form-control" name="address" placeholder="1234 Main St" [(ngModel)]="form.address">
                      <label for="address" class="">Address</label>
                    </div>
      
                    <!--address-2-->
                    <!-- <div class="md-form mb-5">
                      <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite">
                      <label for="address-2" class="">Address 2 (optional)</label>
                    </div>
       -->
                    <!--Grid row-->
                    <div class="row">
      
                      <!--Grid column-->
                      <div class="col-lg-4 col-md-12  mb-4">
      
                        <!-- <label for="country">Country</label> -->
                        <!-- <select class="custom-select d-block w-100" id="country" required>
                          <option value="">Choose...</option>
                          <option>United States</option>
                        </select> -->
                      <input type="text" id="address" class="form-control" name="country" placeholder="country" [(ngModel)]="form.country" required>
                      <label for="address" class="">Country</label>
      
                      </div>
                      <!--Grid column-->
      
                      <!--Grid column-->
                      <div class="col-lg-4 col-md-6 mb-4">
      
                        <!-- <label for="state">State</label> -->
                        <label for="state">State</label>
                        <input type="text" id="address" class="form-control" placeholder="state" name="state"  [(ngModel)]="form.state" required>
                        <!-- <select class="custom-select d-block w-100" id="state" required>
                          <option value="">Choose...</option>
                          <option>California</option>
                        </select>
                        <div class="invalid-feedback">
                          Please provide a valid state.
                        </div> -->
      
                      </div>
                      <!--Grid column-->
      
                      <!--Grid column-->
                      <div class="col-lg-4 col-md-6 mb-4">
      
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="" name="zip" [(ngModel)]="form.zip"  required>
                        <div class="invalid-feedback">
                          Zip code required.
                        </div>
      
                      </div>
                      <!--Grid column-->
                      <input type="hidden" name="total" value="{{allTotal}}" [(ngModel)]="form.total">
                      <input type="hidden" name="status" value="uncomfirmed" [(ngModel)]="form.status">
                    </div>
                    <!--Grid row-->
      
                    <hr>
      
                    <!-- <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="same-address">
                      <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="save-info">
                      <label class="custom-control-label" for="save-info">Save this information for next time</label>
                    </div> -->
      
                    <hr>
      
                    <!-- <div class="d-block my-3">
                      <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                        <label class="custom-control-label" for="credit">Credit card</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">Debit card</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="paypal">Paypal</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                          Name on card is required
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required>
                        <div class="invalid-feedback">
                          Credit card number is required
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                        <div class="invalid-feedback">
                          Expiration date required
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="cc-expiration">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                        <div class="invalid-feedback">
                          Security code required
                        </div>
                      </div>
                    </div> -->
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
      
                  </form>
      </div>
                </div>
                <!--/.Card-->
      
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-md-4 mb-4">
      
                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-muted">Your cart</span>
                  <span class="badge badge-secondary badge-pill">3</span>
                </h4>
      
                <!-- Cart -->
                <ul class="list-group mb-3 z-depth-1">
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0">Product name</h6>
                      
                    </div>
                    <span class="text-muted">price</span>
                    <span class="text-muted">Quantity</span>
                    <span class="text-muted">Total</span>
                  </li>
                  <li  *ngFor="let prod of productAddedToCart;let q=index" class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0">{{prod.product_name}}</h6>
                      <!-- <small class="text-muted">Brief description</small> -->
                    </div>
                    <span class="text-muted">{{prod.price}}</span>
                    <span class="text-muted">{{prod.Quantity}}</span>
                    <span class="text-muted">{{prod.price*prod.Quantity}}</span>
                  </li>
            
                  <li class="list-group-item d-flex justify-content-between">
                    <span>Total </span>
                    <strong>#{{allTotal}}</strong>
                  </li>
                </ul>
                <!-- Cart -->
      
                <!-- Promo code -->
                <form class="card p-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
                    </div>
                  </div>
                </form>
                <!-- Promo code -->
      
              </div>
              <!--Grid column-->
      
            </div>
            <!--Grid row-->
      
          </div>
        </main>
    
    </div>
  </div>
</div>

</div>

<!-- <div class="container py-xl-4 py-lg-2">
 
  
  </div> -->
  
