<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #signupForm=ngForm (ngSubmit)="onSubmit()">
                <div class="form-group ">
                    <label  class="col-form-label">Name</label>
                    <input type="text" name="name" class="form-control" id="inputname3" placeholder="Name" [(ngModel)]="form.name" required>
                    <div class="alert alert-danger" [hidden]="!error.name">
                      {{error.name}}
                  </div>
                </div>
                <div class="form-group ">
                    <label  class="col-form-label">Phone</label>              
                      <input type="text" name="phone" class="form-control" id="inputname3" placeholder="Phone number" [(ngModel)]="form.phone" required>
                      <div class="alert alert-danger" [hidden]="!error.name">
                        {{error.phone}}
                      </div>
                  </div>
                  <div class="form-group ">
                      <label  class="col-form-label">Eamil</label>                     
                    <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required>
                    <div class="alert alert-danger" [hidden]="!error.email">
                      {{error.email}}               
                  </div>
                </div>
        
                <div class="form-group ">
                  <label  class="col-form-label">Password</label>
                  
                    <input type="password" name="password" class="form-control" id="inputPasswordConfirmation3" placeholder="Confirm Password"
                      [(ngModel)]="form.password" required>
                    <div class="alert alert-danger" [hidden]="!error.password">
                      {{error.password}}
                  </div>
                </div>
        
                <div class="form-group ">
                  <label class=" col-form-label">Confirm Password</label>
                    <input type="password" name="password_confirmation" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password_confirmation"
                      required>               
                </div>
            <div class="right-w3l">
              <input type="submit" class="form-control" value="Register">
            </div>
            <div class="sub-w3l">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
                <label class="custom-control-label" for="customControlAutosizing2">I Accept to the Terms & Conditions</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Register Here</div>
    <div class="card-body">
      <form #signupForm=ngForm (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="inputname3" placeholder="Name" [(ngModel)]="form.name" required>
            <div class="alert alert-danger" [hidden]="!error.name">
              {{error.name}}
            </div>
          </div>
        </div>
        <div class="form-group row">
            <label for="inputName3" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
              <input type="text" name="phone" class="form-control" id="inputname3" placeholder="Phone number" [(ngModel)]="form.phone" required>
              <div class="alert alert-danger" [hidden]="!error.name">
                {{error.phone}}
              </div>
            </div>
          </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required>
            <div class="alert alert-danger" [hidden]="!error.email">
              {{error.email}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPasswordConfirmation3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="inputPasswordConfirmation3" placeholder="Confirm Password"
              [(ngModel)]="form.password" required>
            <div class="alert alert-danger" [hidden]="!error.password">
              {{error.password}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" name="password_confirmation" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password_confirmation"
              required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 offset-2">

            <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Sign Up</button>

            <a routerLink="/login" class="btn btn-info float-right">Sign in</a>

          </div>
        </div>

      </form>
    </div>
  </div>
</div> -->