<div class="mt-4 col-8 offset-2">
    <div class="card">
      <div class="card-header">Add Categories Type Here</div>
      <div class="card-body">
        <form #signupForm=ngForm (ngSubmit)="onSubmit()">
            <div class="alert alert-success" [hidden]="!message">
                {{message}}
              </div>
              <div class="alert alert-danger" [hidden]="!error">
                  {{error}}
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                      <select  class="form-control" name="cat_id"  [(ngModel)]="form.cat_id">
                        <option *ngFor="let r of responsecat" value="{{r.id}}">{{r.cat_name}}</option>
                      </select>
                    </div>
                  </div>
          <div class="form-group row">
             <h5><label class="btn btn-primary btn-file">
                  choose file
                  <input  type="file" (change)="uploadFile($event)" name="file" style="display: none;"> 
                 
              </label></h5>
          </div>
  
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <input type="text" name="description" class="form-control" id="inputEmail3" placeholder="Description" [(ngModel)]="form.description" required>
              
            </div>
          </div>
         
          <div class="form-group row">
            <div class="col-sm-10">
              <input type="hidden" name="cat_type" class="form-control" id="inputPasswordConfirmation3" 
              [(ngModel)]="response.id"  value="{{response.id}}">
             
            </div>
          </div>
         
          
  
          <div class="form-group row">
            <div class="col-sm-10 offset-2">
  
              <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Add </button>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </div>
   <!-- <div class="container">
    <table class="table">
      <tr *ngFor="let r of responsecat">
        <td>{{r.cat_name}}</td>
        <td>{{r.price}}</td>
        <td>{{r.shortd}}</td>
        <td>{{r.quantity}}</td>
       <td> <a href=""  class="btn btn-primary">Edit</a></td>
        <td><button class="btn btn-dangar">Delete</button></td> 
      </tr>
    </table>
  </div> 
   -->
  
